/* Design Portfolio */
.design-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 750px;
  padding-left: 2em;
  padding-right: 2em;
}

.design-projects .project{
  width: 300px;
  box-shadow: 0px 0px #F05A24;
  margin-right: 10px;
  margin-bottom: 20px;
}

.design-projects .project:hover{
  box-shadow: 5px 5px #F05A24;
}


.design-projects :nth-child(3){
  margin: 50px 0px;
}

#design-portfolio .emoji{
  z-index: 5;
  position: absolute;
}

#design-portfolio .first-emoji{
  transform: rotate(-45deg);
  right: 300px;
}

#design-portfolio .second-emoji{
  transform: rotate(45deg) translateY(-300px);
  left: 300px;
}
