/* Media Queries */

/* Media Query for Mobile Devices */
@media (max-width: 900px) {
  body {
    font-size: 1.3em;
  }

  .cursor{
    display: none;
  }

  h1, h2{
    font-size: 1.7em;
  }

  .padding{
    padding: 1em 2em;
  }

  .padding-x{
    padding: 0em 2em;
  }

  .padding-y{
    padding: 1em 0em;
  }

  .width-50{
    width: 100%;
  }

  .width-33{
    width: 100%;
  }

  .width-66{
    width: 100%;
  }

  .d-flex{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .m-0-padding{
    padding: 0;
  }

  /* Navbar */

  .container{
    padding: 2em 2em;
  }

  /* Intro */

  #intro h1{
    width: 80%;
  }

  /* Web Portfolio */

  .web-projects-mobile{
    display: block;
  }

  .slider{
    display: none;
  }

  .project-mobile{
    width: 100vw;
    margin-bottom: 10px;
  }

  /* Design Portfolio */

  .design-projects{
    height: 100%;
  }

  .design-projects .project{
    width: 300px;
    margin-right: 0px;
    margin-top: -50px;
  }

  #design-portfolio .first-emoji {
    right: 45px;
  }

  #design-portfolio .second-emoji {
    transform: rotate(45deg) translate(-15px, -80px);
    left: initial;
  }

  .design-projects :first-child{
    margin-top: 0px;
  }

  .design-projects :nth-child(3) {
    margin-bottom: 0px;
    margin-top: -50px;
  }

  /* About */

  .first-photo{
    flex-direction: column-reverse;
  }

  .first-photo .first-photo-img {
    width: 300px;
    z-index: 2;
    transform: translate(-10px, 10px);
  }

  .first-photo-text{
    position: initial;
  }

  .first-photo .flecha {
    left: 190px;
    transform: rotate(-90deg);
    width: 120px;
    position: absolute;
    top: 60px;
    z-index: 3;
  }

  .second-photo{
    /* transform: translate(20px, -10px); */
    transform: none;
    flex-direction: column-reverse;
  }

  .second-photo .second-photo-img {
    transform: none;
    position: relative;
    width: 300px;
    z-index: 1;
  }

  .second-photo-text{
    position: initial;
    text-align: left;
  }

  /* Services */

  #services{
    padding: 1em;
  }

  #services ul{
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  #services li{
    margin-top: 1em;
  }

  /* Contact */

  .email{
    font-size: 1em;
    height: 80vh;
  }

  /* Footer */

  #footer .footer-laptop{
    display: none;
  }

  #footer .footer-mobile{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }

  #footer .footer-mobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer .footer-mobile ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .CookieConsent{
    left: 10%;
    width: 66%;
  }
}

/* Vertical tablets */

@media (min-width: 800px) and (max-width: 900px){

}

/* Media Query for Tablets Ipads horizontal mode */
@media (min-width: 900px) and (max-width: 1200px){
  body {
    font-size: 1.3em;
  }

  .cursor{
    display: none;
  }

  .container {
    padding: 2em 4em;
  }

  .padding{
    padding: 3em 4em;
  }

  .padding-x{
    padding: 0em 4em;
  }

  .close-icon{
    right: 4em;
  }

  /* Viewer */

  .project-info{
    width: 20%;
  }

  .video-container{
    width: 80%;
  }

  .video-container video{
    width: 600px;
  }

  /* Design Portfolio */

  .design-projects{
    flex-direction: row;
  }

  #design-portfolio .second-emoji {
    transform: rotate(45deg) translateY(-50px);
    left: 200px;
  }

  .design-projects .project {
    margin-right: -2em;
  }


   /* About */

   .first-photo{
    flex-direction: column-reverse;
  }

  .first-photo .first-photo-img {
    width: 300px;
    z-index: 2;
    transform: translate(-10px, 10px);
  }

  .first-photo-text{
    position: initial;
  }

  .first-photo .flecha {
    left: 190px;
    transform: rotate(-90deg);
    width: 120px;
    position: absolute;
    top: 60px;
    z-index: 3;
  }

  .photos{
    padding: 0em 0em 0em 10em;
  }

  .second-photo{
    /* transform: translate(20px, -10px); */

    transform: none;
    flex-direction: column-reverse;
  }

  .second-photo .second-photo-img {
    align-self: flex-end;
    transform: none;
    position: relative;
    width: 300px;
    z-index: 1;
  }

  .second-photo-text{
    position: initial;
    text-align: right;
  }

  /* Services */

  #services ul{
    padding: 0;
  }

  #services p{
    text-align: center;
    margin-bottom: 2em;
  }

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1200px) {
  /* body {
    color: red;
  } */
}
