.navbar {
	color: var(--color-dark);
	display: flex;
	font-family: var(--font-serif);
	justify-content: space-between;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	/* background-color: var(--color-red);*/
}

.navbar > div,
.navbar > nav {
	font-size: 1.3em;
}

.navbar .contrast {
	color: var(--color-blue);
}