/* Viewer */

#viewer, #design-viewer{
  display: none;
  position: fixed;
  background: #3619FD;
  width: 100%;
  min-height: 100vh;
  color: white;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.box{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#viewer h2, #viewer p, #viewer a,
#design-viewer h2, #design-viewer p, #design-viewer a{
  color: white;
  margin: .2em 0em;
}

#viewer.open-viewer, #design-viewer.open-viewer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  position: absolute;
  text-align: right;
  background-color: transparent;
  color: white;
  top: 2em;
  right: 6em;
}

#viewer .skills,
#design-viewer .skills{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

#viewer .skills li,
#design-viewer .skills li{
  border: 3px solid white;
}

.project-attributes{
  display: flex;
  padding-bottom: 1em;
}

/* Design Viewer */

#design-viewer .nav{
  position: fixed;
  right: 0;
  top: 0;
}

#design-viewer .gallery{
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#design-viewer .gallery li{
  border: none;
}

.gallery li:first-child{
  margin-top: 10%;
}

#design-viewer .project-header{
  display: flex;
  flex-direction: row;
}

#design-viewer .project-attributes{

}
