/* Viewer */

#viewer,
#design-viewer{
  position: fixed;
  border-radius: 50px;
  background: var(--color-light);
  width: 100%;
  min-height: 100vh;
  color: var(--color-dark);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  transform: translateY(100vh);
  opacity: 0;
  -webkit-transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
  -moz-transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
  -o-transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
  transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
}

#viewer.open-viewer,
#design-viewer.open-viewer{
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0vh);
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 100%;
}

#viewer h2, #viewer p, #viewer a,
#design-viewer h2, #design-viewer p, #design-viewer a{
  color: var(--color-dark);
  margin: .2em 0em;
}

.close-icon {
  position: absolute;
  text-align: right;
  background-color: transparent;
  color: var(--color-dark);
  top: 2em;
  right: 6em;
  z-index: 6;
  border-radius: 50px;
  padding: 5px 10px;
}

#viewer .skills,
#design-viewer .skills{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.skills li {
  list-style-type: none;
  padding: .4em 1em .2em;
  margin-right: 1em;
  background-color: var(--color-teal);
  color: var(--color-light);
  border-radius: 50px;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#viewer .skills li,
#design-viewer .skills li{
  /* border: 3px solid white; */
}

.project-attributes{
  display: flex;
  padding-bottom: 1em;
}

/* Design Viewer */

#design-viewer .nav{
  position: fixed;
  right: 0;
  top: 0;
}

#design-viewer .gallery{
  margin-left: 12em;
  width: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

#design-viewer .gallery img{
  width: 700px;
}

#design-viewer .gallery li:first-child{
  margin-top: 2em;
}

#design-viewer .gallery li{
  border: none;
}

#design-viewer .project-header{
  display: flex;
  flex-direction: row;
}

#design-viewer .project-data{
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: transparent;
  color: var(--color-dark);
  padding: .4em 1em .2em;
  left: 2em;
  z-index: 4;
}

#design-viewer .project-link{
  position: absolute;
  background-color: var(--color-teal);
  color: var(--color-light);
  text-align: right;
  bottom: 2em;
  right: 3em;
  z-index: 6;
  border-radius: 50px;
  padding: .4em 1em .2em;
}

#design-viewer .project-link:hover{
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: background-color ease-in-out .2s;
  text-decoration: none;
}

/* Media Queries */

/* Media Query for Mobile Devices */
@media (max-width: 768px) {

  .close-icon{
    top: 1em;
    right: 1em;
    background-color: var(--color-light);
    border-radius: 50px;
    padding: 5px 10px;
  }

  #viewer.web #title{
    text-align: center;
    margin-bottom: 1em;
  }

  #viewer.web .project-info, #viewer.web .video-container{
    padding: 0px 1em;
  }

  #viewer.web .box{
    width: 100%;
  }

  #viewer.web .project-container{
    padding: 0px;
    margin-top: 3em;
    align-items: flex-start;
  }

  #viewer.web video{
    width: 100%;
  }

  #viewer.web .project-attributes{
    flex-direction: column-reverse;
    margin-bottom: 1em;
    padding: 0px 1em;
  }

  #viewer.web .project-link{
    margin-bottom: 5em;
    text-decoration: underline;
  }

  #viewer.web .skills{
    text-align: center;
    flex-grow: 0;
    padding: 0px;
    width: 100%;
    font-size: 70%;
  }

  #viewer.web .skills li:last-child{
    margin-right: 0px;
  }

  /* Design Viewer */

  #design-viewer .project-data{
    left: 1em;
    height: 40%;
    padding: 5em 0px;
    width: 90%;
    z-index: 3;
  }

  #design-viewer .gallery {
    margin-left: 0px;
  }

  #design-viewer .gallery li{
    margin-right: 0px;
  }

  #design-viewer .gallery li:first-child{
    margin-top: 60vh;
    background-color: transparent;
  }


  #design-viewer .gallery li:last-child{
    margin-bottom: 2em;
  }

  #design-viewer .gallery li{
    padding: 0px;
    border-radius: 0px;
    background-color: var(--color-light);
  }

  #design-viewer .gallery img{
    margin-bottom: -.3em;
    width: 100vw;
  }

  #design-viewer .project-link{
    border: 3px solid var(--color-light);
    top: 1em;
    bottom: initial;
    right: initial;
    left: 33%;
  }

}
