/* Web Portfolio */
.web-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.web-projects .d-flex{
  overflow: hidden;
}

.web-projects .project{
  width: 600px;
  padding: 10px 5px;
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 6 - 30px));
  }
}

.animation-top{
  animation: scroll 60s linear infinite;
}

.animation-down{
  animation: scroll 60s linear infinite reverse -7.5s;
}

.slider {
  width: 60%;
  margin: auto;
  overflow:hidden;
  position: relative;
  height: 100%;
}

.slider-wrap {
		display: flex;
		width: calc(600px * 6);
    height:100%;
	}

.slide{
  width:300px;
  height:100%;
  text-align:center;
}

.projects-cta{
  background-color: #3619FD;
  color: #FFF3E2;
  position: absolute;
  top: 45%;
  right: 33%;
  z-index: 5;
  padding: 2em 3em;
}

.web-projects-mobile{
  display: none;
}
