@font-face {
  font-family: 'cocogoose';
  src: url('../public/cocogoose-webfont.woff2') format('woff2'),
       url('../public/cocogoose-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.body-bg{
  background-color: #FFF3E2;
}

h1, h2{
  color: #F05A24;
  font-family: "cocogoose";
}
