/* Web Portfolio */
.web-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.web-projects .d-flex{
  overflow: hidden;
}

.web-projects .project{
  width: 500px;
  padding: 0px 5px;
  margin-top: 10px;
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4 - 20px));
  }
}

.animation-top{
  animation: scroll 20s linear infinite;
}

.animation-down{
  animation: scroll 20s linear infinite reverse -7.5s;
}

.slider {
  width: 60%;
  margin: auto;
  overflow:hidden;
  position: relative;

}

.slider-wrap {
		display: flex;
		width: calc(500px * 4);
    height:100%;
	}

.slide{
  width:250px;
  height:100%;
  text-align:center;
}
